:root{
    --brand-main-color:#2b7fff;
    --beauty-2-c1: #011c44;
    --main-bg-color:#ffffff; 
    --list-color-black:#000; 
    --beauty-landing-2-s5:#747272;
    --background-header-filter:rgba(255, 255, 255, 0.25) ;
    

    --font-family:"Roboto",sans-serif;
    --third-family:"Play",sans-serif;
}

/* font faces */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v49-latin-regular.woff2') format('woff2'),
        url('fonts/roboto-v49-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/roboto-v49-latin-600.woff2') format('woff2'),
        url('fonts/roboto-v49-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v49-latin-regular.woff2') format('woff2'),
        url('fonts/roboto-v49-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Play-Regular.woff2') format('woff2'),
        url('fonts/Play-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Play-Bold.woff2') format('woff2'),
        url('fonts/Play-Bold.woff') format('woff');
}

/* base */

footer{
    background-color: var(--beauty-2-c1);
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin-top: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section {
    padding:48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

body{
    margin: 0;

}

header{
    backdrop-filter: blur(10px);
    background: var(--background-header-filter);
   }

footer{
   padding: 56px 0;
   position: relative;
   overflow: hidden;
   
}

/* header */

.background {

background-image:
linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%),
url("images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;


width: 100%;
height: 687px;

}

.main-logo{
    color: var(--brand-main-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 95%;
    text-transform: capitalize;
    font-family: var(--third-family);
    max-width: 74px;

}

.header-container{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
   }

.header-nav{
flex-grow: 1;
display: flex;
align-items: center;
}

.header-list{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
    
}
.vector-links {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.vector-links a {
    width: 32px;
    height: 32px;
    display: inline-flex;
    fill: var(--list-color-black);
}

.vector-links a:hover {
    fill: var(--main-bg-color);
}

/* logo */


.links{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-2-c1);
}
.links:hover{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--brand-main-color);
}

/* title-section */

.title-section{
    padding: 17px 0 195px;
    
}

.title-container{
    margin-left: 108px;
}

.title-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-2-c1);
    margin-bottom: 16px;
       
}

.main-title{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 140px;
    line-height: 81%;
    text-transform: capitalize;
    color: var(--brand-main-color);
    max-width:500px;
    margin-bottom: 40px;
}


.title-batton{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--main-bg-color);
    border-radius: 32px;
    padding: 16px 32px;
    background: var(--brand-main-color);
    border: none;    
}
.title-batton:hover{
    border-radius: 32px;
    padding: 16px 32px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--beauty-2-c1);
    background-color: var(--main-bg-color);
    border: 2px solid var(--brand-main-color);
}
.main-title-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--beauty-2-c1);
    margin-top: 16px;
    max-width: 238px;
        
}

/* transform-section */

.transform-section .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
   }

.transform-title{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--beauty-2-c1);
    margin-bottom: 40px;
    max-width: 528px;
    }

.transform-main {
    flex: 1;
    max-width: 50%;
   }

.transform-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
    max-width: 40%;
    position: relative;
  }

.transform-photos img {
    border-radius: 50%;
    width:327px;
    height:327px;
    object-fit: cover;
        
  }

.transform-photos svg{
    align-self: flex-end;
}

.first-star{
    width: 40px;
    height: 40px;
    fill: var(--brand-main-color);
    position: absolute;
    top: 5%;
    right: 5%;
    }

.last-star{
    width: 16px;
    height: 16px;
    fill: var(--beauty-landing-2-s5);
    position: absolute;
    top: 40%;
    right: 5%;
}

.second-star{
        width: 64px;
        height: 64px;
        fill: var(--beauty-2-c1);
        position: absolute;
        top: 50%;
        right: 60%;
}

.first-tf{
align-self: flex-start;
}

.last-tf {
align-self: flex-end;
}

.transform-title span{
    color: var(--brand-main-color);
    text-transform: capitalize;
}
.transform-text{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 22px;
        line-height: 173%;
        color: var(--beauty-2-c1);
        margin-bottom: 40px;
}

.transform-text span{
    font-weight: 600;
        text-transform: capitalize;
}

.same-padding{
    padding: 0 0 96px;
    
}

/* why section */

.why-title{
    font-family: var(--third-family);
font-weight: 700;
font-size: 64px;
color: var(--beauty-2-c1);
margin: 0 auto 48px;
max-width: 432px;
text-align: center;
}

.why-title span{
    color: var(--brand-main-color);
}

.why-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: var(--list-color-black);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:56px;
}



.why-text li{
 height: 181px;
 border-radius: 32px;
 background-color: var(--main-bg-color);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 border: var(--brand-main-color) solid 2px;
 padding: 24px 32px;
 gap: 8px;
 flex-basis: calc((100% - 100px) / 3);
}

.why-vectors{
    fill: var(--brand-main-color);
}


/* our procedures */

.our-procedures-title{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: var(--beauty-2-c1);
    margin-bottom: 48px;
}
.our-procedures-title span{
    color:var(--brand-main-color)
}
.procedures-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--main-bg-color);
   
   }

.arrow-wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:transparent;
    border: 2px solid var(--list-color-black);
    cursor: pointer;
    flex-shrink: 0;
    padding: 0;
}

.arrow {
    fill: var(--list-color-black);
    display: block;
}

.arrow-wrapper:hover{
    border: 2px solid var(--main-bg-color);
    background-color: var(--brand-main-color);
    
}

.arrow-wrapper:hover .arrow {
    fill: var(--main-bg-color);
}

.masks{
    background-image:
    linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%),
    url('images/masks.jpg');
    background-repeat: no-repeat;
    width: auto;
    height: 456px;
    border-radius: 120px 4px;
    background-size: cover;
    }
.injections{
    background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%),
    url('images/injections.jpg');
    background-repeat: no-repeat;
    width: auto;
    height: 456px;
    border-radius: 120px 4px;
    background-size: cover;
}
.face-cleaning{
    background-image:linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%),
     url('images/face_cleaning.jpg');
    background-repeat: no-repeat;
    width: auto;
    height: 456px;
    border-radius: 120px 4px;
    background-size: cover;
}
.procedures-text li{
display: flex;
justify-content:flex-end;
flex-direction: column;
padding: 372px 77px 32px 115px;
flex-basis: calc((100% - 100px) / 3);
flex-shrink: 1;
flex-grow: 1;

}

/* contact section */

.contact-title{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: var(--beauty-2-c1);
    margin-bottom: 48px;
}
.contact-title span{
    color:var(--brand-main-color);
}

.container iframe{
    border-radius: 32px;
    width: 605px;
    height: 481px;
}

/* footer */

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
  
}


footer li,
footer p {
    margin-bottom: 16px;
}

.additional-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    
   
}

.copy-container {
    display: flex;
    flex-direction: column;
   
}

.copy-container img{
position: absolute;
top: 36%;
right: 0;
height: 213px;
width: 278px;
}


.footer-logo{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 87%;
    text-transform: capitalize;
    color: var(--brand-main-color);
}
.footer-link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--main-bg-color);
    text-decoration: none;

}

.footer-vectors{
    display: flex;
    gap: 24px;
}
.fotvec-item {
    width: 42px;
    height: 42px;
    fill: var(--main-bg-color);
    
}
.footer-link:hover{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: var(--brand-main-color);
}
.text-footer{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--main-bg-color);
    
}
.copy {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--beauty-landing-2-s5);
}
