:root {
    --brand-main-color: #2b7fff;
    --beauty-2-c1: #011c44;
    --main-bg-color: #ffffff;
    --list-color-black: #000;
    --beauty-landing-2-s5: #747272;
    --background-header-filter: rgba(255, 255, 255, 0.25);


    --font-family: "Roboto", sans-serif;
    --third-family: "Play", sans-serif;
}

$br-mobile: 480px;
$br-tablet: 768px;
$br-desktop: 1200px;