.links {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--beauty-2-c1);
  transition: color 0.2s;

  @media screen and (min-width: $br-tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $br-desktop) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    font-size: 16px;
    font-weight: 700;
    color: var(--brand-main-color);
  }
}
