.main-logo {
  max-width: 74px;
  font-family: var(--third-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 95%;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--brand-main-color);

  @media screen and (min-width: $br-tablet) {
    font-size: 22px;
  }
}
