.mobile-clip path {
  transform: scaleX(2);
  transform-origin: center;
  transform-box: fill-box;

  @media screen and (max-width: 373px) {
    transform: scaleX(1.5) translateY(50px);
  }

  @media screen and (min-width: $br-tablet) {
    transform: scale(3, 1.1) translateX(110px) translateY(80px);
  }

  @media screen and (min-width: $br-desktop) {
    transform: scale(4, 1.8) translateX(190px);
  }
}
.mobile-clip {
  position: absolute;
}
