.vector-links {
  display: none;

  &--mobile-menu {
    display: flex;
    gap: 16px;
  }

  &--footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 8px;

    @media screen and (min-width: $br-tablet) {
      gap: 24px;
    }

    @media screen and (min-width: $br-desktop) {
      position: absolute;
      top: 70%;
      left: 50%;
    }
  }

  @media screen and (min-width: $br-tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  @media screen and (min-width: $br-desktop) {
    gap: 30px;
  }

  &__icon {
    display: inline-flex;
    width: 32px;
    height: 32px;
    transition: fill 0.2s;
    fill: var(--list-color-black);

    &:hover {
      fill: var(--main-bg-color);
    }

    @media screen and (min-width: $br-tablet) {
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: $br-desktop) {
      width: 32px;
      height: 32px;
    }

    &--footer {
      fill: var(--main-bg-color);

      &:hover {
        fill: var(--beauty-landing-2-s5);
      }

      @media screen and (min-width: $br-tablet) {
        width: 24px;
        height: 24px;
      }

      @media screen and (min-width: $br-desktop) {
        width: 42px;
        height: 42px;
      }
    }

    &--mobile-menu {
      &:hover,
      &:focus {
        fill: var(--brand-main-color);
      }
    }
  }
}
