.title-section {
  position: relative;
  clip-path: url(#mobile-clip);
  padding-top: 70px;
  padding-bottom: 90px;
  background-image:
    linear-gradient(
      38deg,
      #fff 0%,
      rgba(255, 255, 255, 0.78) 31.23%,
      rgba(255, 255, 255, 0.2) 50.39%,
      rgba(255, 255, 255, 0) 68.37%
    ),
    url('../images/background.jpg');
  background-position: center -50px;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: $br-tablet) {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @media screen and (min-width: $br-desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:
      linear-gradient(
        38deg,
        #fff 0%,
        rgba(255, 255, 255, 0.78) 31.23%,
        rgba(255, 255, 255, 0.2) 50.39%,
        rgba(255, 255, 255, 0) 68.37%
      ),
      url('../images/background@2x.jpg');
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $br-tablet) {
      align-items: start;
      margin: 17px 0 0 108px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--beauty-2-c1);

    @media screen and (min-width: $br-tablet) {
      margin-bottom: 16px;
      font-size: 18px;
      text-align: start;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-family: var(--third-family);
    font-size: 54px;
    font-weight: 700;
    line-height: 85%;
    text-align: center;
    text-transform: capitalize;
    color: var(--brand-main-color);

    @media screen and (min-width: $br-tablet) {
      margin-bottom: 40px;
      font-size: 70px;
      line-height: 81%;
    }

    @media screen and (min-width: $br-desktop) {
      max-width: 500px;
      font-size: 140px;
      text-align: left;
    }
  }

  &__button {
    width: 186px;
    height: 44px;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    color: var(--main-bg-color);
    background: var(--brand-main-color);

    &:hover {
      border: 2px solid var(--brand-main-color);
      color: var(--beauty-2-c1);
      background-color: var(--main-bg-color);
    }

    @media screen and (min-width: $br-tablet) {
      width: 220px;
      height: 54px;
      padding: 16px 32px;
      border-radius: 32px;
      font-size: 17px;
      font-weight: 600;
    }
  }

  &__main-text {
    max-width: 186px;
    margin-top: 8px;
    font-family: var(--font-family);
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    color: var(--beauty-2-c1);

    @media screen and (min-width: $br-tablet) {
      max-width: 238px;
      margin-top: 16px;
      font-size: 12px;
    }
  }
}
