.transform-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: -30px;

  @media screen and (min-width: $br-tablet) {
    padding: 0 3%;
  }

  &__content {
    @media screen and (min-width: $br-tablet) {
      position: relative;
      flex: 1;
      max-width: 50%;
    }
  }

  &__title {
    width: 264px;
    margin-bottom: 24px;
    font-family: var(--third-family);
    font-size: 32px;
    font-weight: 500;
    color: var(--beauty-2-c1);

    @media screen and (min-width: $br-tablet) {
      width: 360px;
      margin-top: 0px;
      font-size: 46px;
      font-weight: 600;
    }

    @media screen and (min-width: $br-desktop) {
      width: 528px;
      margin-top: -120px;
      margin-bottom: 40px;
      font-size: 64px;
      font-weight: 700;
    }

    span {
      text-transform: capitalize;
      color: var(--brand-main-color);
    }
  }

  &__text {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 173%;
    color: var(--beauty-2-c1);

    span {
      font-weight: 600;
      text-transform: capitalize;
    }

    @media screen and (min-width: $br-tablet) {
      font-size: 20px;
    }

    @media screen and (min-width: $br-desktop) {
      margin-bottom: 40px;
      font-size: 22px;
    }
  }

  &__photos {
    display: none;

    @media screen and (min-width: $br-tablet) {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      max-width: 40%;
    }

    @media screen and (min-width: $br-desktop) {
      gap: 70px;
    }

    img {
      width: 224px;
      height: 224px;
      border-radius: 50%;
      object-fit: cover;

      @media screen and (min-width: $br-desktop) {
        gap: 40px;
        width: 327px;
        height: 327px;
        margin-top: -60px;
      }

      &:first-child {
        align-self: flex-start;
      }

      &:last-child {
        align-self: flex-end;
      }
    }

    svg {
      align-self: flex-end;
    }
  }

  &__first-star {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    animation-name: rotate-scale;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    fill: var(--brand-main-color);

    @media screen and (min-width: $br-tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &__last-star {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 16px;
    height: 16px;
    animation-name: rotate-scale;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    fill: var(--beauty-landing-2-s5);
  }

  &__second-star {
    position: absolute;
    right: 6%;
    width: 40px;
    height: 40px;
    animation-name: rotate-scale;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    fill: var(--beauty-2-c1);

    @media screen and (min-width: $br-tablet) {
      top: 38%;
      right: -18%;
      width: 64px;
      height: 64px;
    }
  }
}
